body {
  background-image: url("smokestack_background");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 150px;
  width: 100%;
  color:inherit;
  text-align: center;
}

.title {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 40px;
  color: white;
}

.text1 {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: white;
}

.gridplot {
  height: 1000px;
  width: 75%;

}

.cumulative {
  height: 650px;
  width: 50%;
  }

  .overWind {
    height: 450px;
    width: 65%;
  }

#plot2 {
  height: 800px;
}
